@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {

  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  body {
    font-family: 'Work Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
    background: radial-gradient(circle at 10% 10%, #502025 0%, #1d1516 75%, #000000 100%);
    background-attachment: fixed;
    @apply text-white antialiased selection:bg-accent-gold selection:text-primary;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    touch-action: manipulation;
    scroll-behavior: smooth;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none !important;
  }

  select::-ms-expand {
    display: none;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .ios-blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .material-symbols-outlined.fill-1 {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}